html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
}
.container {
    max-width: 1167px;
    padding: 0 20px;
}

.page-header {
    background-image: url(./assets/images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.page-header__container,
.container {
    margin: 0 auto;
}
.page-header__container {
    max-width: 1390px;
    height: 100%;
}
.page-header__top {
    width: 100%;
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.page-header__menu {
    justify-self: center;
    height: 100%;
    display: flex;
    text-align: center;
    grid-column: 2;
}
.page-header__menu-list {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 32px;
}
.menu-list__item {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
}
.menu-list__link {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-out color;
}
.menu-list__link:hover {
    text-decoration: none;
    color: #cdcdcd;
}
.page-header__actions {
    justify-self: end;
}
.page-header__actions {
    grid-column: 3;
}
.page-header__search {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #fff;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-right: 32px;
    cursor: pointer;
    transition: 0.2s ease-out color;
}
.page-header__search:hover {
    color: #cdcdcd;
}
.page-header__contact-us {
    background-color: #fff;
    box-shadow: none;
    border: none;
    color: #000;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    padding: 11.5px 24px;
    margin: 0;
    border-radius: 1000px;
    transition: 0.2s ease-out all;
    cursor: pointer;
}
.page-header__contact-us:hover {
    background-color: #cdcdcd;
}

.page-header__hero {
    height: calc(100vh - 90px);
    position: relative;
}
.page-header__header {
    font-size: 80px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    color: #fff;
    position: absolute;
    bottom: 158px;
    left: 5px;
    text-align: center;
    width: min(100%, 960px);
}
.page-header__explore {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.page-header__span {
    font-size: 80px;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #fff;
}
.page-header__explore-icon {
    transition: 0.2s ease-out scale;
}
.page-header__explore-icon:hover {
    scale: 1.1;
}

.intro {
}
.intro__container {
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    position: relative;
}
.intro__text-block {
}
.intro__header {
    font-weight: 600;
    font-size: 32px;
    font-family: 'Inter';
}
.intro__paragraph {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter';
    padding-top: 24px;
    line-height: 160%;
}
.intro__learn-link {
    font-size: 16px;
    color: #000;
    font-family: 'Poppins';
    padding-top: 28px;
    display: block;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    transition: 0.2s ease-out color;
    width: fit-content;
}
.intro__learn-link:hover {
    color: #8b8b8b;
}
.intro__image {
    border-radius: 12px;
    max-width: 463px;
    max-height: 601px;
}
.intro__bg-image {
    position: absolute;
    z-index: 111;
    bottom: 12.5px;
    z-index: -1;
    opacity: 0.5;
}

.tips-for-mom__header {
    font-weight: 600;
    font-size: 32px;
    font-family: 'inter';
    margin-top: 80px;
    margin-bottom: 40px;
}
.category-grid--primary {
    display: grid;
    height: 735px;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.category-grid__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.category-card-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
}
.category-card-2 {
    grid-row: 1;
    grid-column: 2;
}
.category-card-3 {
    grid-row: 2;
    grid-column: 2;
}
.category-card__photo {
    flex: 1;
    width: 100%;
    object-fit: cover;
    min-height: 0;
    border-radius: 6px;
}
.category-card__header {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 160%;
    font-weight: 700;
    color: #000;
    margin-top: 16px;
    padding-bottom: 2px;
}
.category-card__info {
    font-weight: 400;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 160%;
    color: #8b8b8b;
    margin-top: 5px;
}
.category-grid--secondary {
    margin-top: 40px;
    display: grid;
    height: 735px;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.category-card-4 {
    grid-row: 1;
    grid-column: 1;
}
.category-card-5 {
    grid-row: 2;
    grid-column: 1;
}
.category-card-6 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
}
.tips-for-mom__show-all {
    box-shadow: none;
    border: none;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    padding: 16px 24px;
    margin: 40px 0;
    border-radius: 1000px;
    transition: 0.2s ease-out all;
    cursor: pointer;
    background-color: #7f3e41;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.tips-for-mom__show-all:hover {
    background-color: #955155;
}

.tips {
    background-image: url(./assets/images/tips/tips-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tips__header {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
    padding-top: 80px;
    margin-bottom: 40px;
    color: #fff;
}
.tips__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.tips__card {
    width: 359.67px;
    min-height: 282px;
    flex: 0 1 359.67px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
}
.tips__card-image {
    width: 70px;
    height: 70px;
}
.tips__card-header {
    font-size: 18px;
    font-weight: 800;
    font-family: 'inter';
}
.tips__card-header-icon {
    padding-left: 16px;
}
.tips__card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-family: 'Inter';
}
.tips__show-all {
    box-shadow: none;
    border: none;
    color: #7f3e41;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    padding: 16px 24px;
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 1000px;
    transition: 0.2s ease-out all;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.tips__show-all:hover {
    background-color: #cdcdcd;
}

.stories {
    background-color: #f0efee;
}
.stories__header {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Inter';
    padding-top: 80px;
    padding-bottom: 40px;
}
.stories__cards {
    display: grid;
    height: 735px;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.stories__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    padding: 24px;
}
.stories__card-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
}
.stories__card-2 {
    grid-row: 1;
    grid-column: 2;
}
.stories__card-3 {
    grid-row: 2;
    grid-column: 2;
}
.stories__card-image {
    flex: 1;
    width: calc(100% + 48px);
    margin: -24px -24px 0;
    object-fit: cover;
    min-height: 0;
    border-radius: 6px 6px 0 0;
    display: block;
}
.stories__card-header {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter';
    margin-top: 24px;
    color: #000;
}
.stories__card-desc {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    margin-top: 24px;
    line-height: 160%;
    color: #8b8b8b;
}
.stories__card-more-link {
    font-weight: 600;
    color: #7f3e41;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-out color;
}
.stories__card-more-link:hover {
    color: #a76166;
}
.stories__show-all {
    box-shadow: none;
    border: none;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    padding: 16px 24px;
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 1000px;
    transition: 0.2s ease-out all;
    cursor: pointer;
    background-color: #7f3e41;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.stories__show-all:hover {
    background-color: #955155;
}

.page-footer {
    background-color: #7f3e41;
}
.page-footer__container {
}
.page-footer__header {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    padding-top: 80px;
}
.page-footer__contact-zone {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}
.page-footer__contact-form,
.page-footer__contacts {
    flex: 1;
}
.contact-form {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fff;
    padding-right: 40px;
}
.contact-form__header {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.contact-form__subheader {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 16px;
}
.contact-form__row {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}
.contact-form__input,
.contact-form__textarea {
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-family: 'Inter';
    font-size: 16px;
    outline: none;
    flex: 1;
}
.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
    color: #fff;
}
.contact-form__textarea {
    margin-top: 32px;
    width: 100%;
}
.contact-form__button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #fff;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    padding: 16px 24px;
    margin: 0;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.2s ease-out color;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}
.contact-form__button:hover {
    color: #cdcdcd;
}
.page-footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contacts__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contacts__header {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.contacts__desc {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    max-width: 435px;
}
.contacts__link {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-out color;
}
.contacts__link:hover {
    color: #cdcdcd;
}

.page-footer__map {
    width: 100%;
    padding: 80px 0;
}
.page-footer__map-frame {
    border-radius: 6px;
    width: 100%;
    min-height: 541px;
}
.page-footer__info-container {
    display: flex;
    gap: 44px;
    padding-left: 0;
    padding-right: 0;
    padding: 56px 0;
}
.page-footer__info-title {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 32px;
    color: #fff;
}
.page-footer__nav-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.page-footer__info-column {
    display: flex;
    flex-direction: column;
}
.page-footer__info-column--contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.page-footer__column-header {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    letter-spacing: -1%;
    line-height: 160%;
}
.page-footer__info-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.page-footer__block-header {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    letter-spacing: -1%;
    line-height: 160%;
}
.page-footer__block-desc {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    letter-spacing: -1%;
    line-height: 160%;
}
.page-footer__info-column--links {
}
.page-footer__menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 24px;
}
.page-footer__nav-link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-out color;
    letter-spacing: -1%;
    line-height: 160%;
}
.page-footer__nav-link:hover {
    color: #cdcdcd;
}
.age-footer__socials {
    padding-top: 16px;
}
.page-footer__social-icon {
    width: 24px;
    height: 24px;
    transition: 0.2s ease-out scale;
}
.page-footer__social-icon:hover {
    scale: 1.1;
}
